
 <link rel="stylesheet" href="./css/contacto.css">

<body>

  <h1 align="center">Contacto</h1>

     <div class="position">

         <input class="input1" type="text" id="nombre"  placeholder="Nombre">
         <div class="position2" id="error_nombre_incorrecto"></div>


         <input class="input2" type="email"  id="email" placeholder="E-mail">
         <div class="position2" id="error_email_incorrecto"></div>


         <textarea id="comment" rows="5" cols="151" placeholder="Comentarios"></textarea>
         <div class="position2" id="error_comentario_incorrecto"></div>

         <button class="enviar" id="boton" disabled>Enviar info</button>

     </div>

</body>
